@font-face {
  font-family: "OstrichSansBlack";
  src: url("../assets/fonts/OstrichSansBlack.otf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold !important;
}

body {
  background-color: #f5fffa;
}

.button-repository {
  display: flex;
  justify-content: end;
  color: black;
  font-size: 18;
}

.button-repository:hover {
  color: rgb(76, 73, 73);
}
